{{#if parent}}
    {{#with parent}}{{> breadcrumb}}{{/with}}
    {{#if_eq kind 1}}
    {{else}}
        <li>
            {{#if url}}
                <a href="{{relativeURL url}}">{{name}}</a>
            {{else}}
                <span>{{name}}</span>
            {{/if}}
        </li>
    {{/if_eq}}
{{/if}}